@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="col-md-8">
        <a class="navbar-brand" href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pokemon.com%2Fus%2Fpokemon-tcg%2F&psig=AOvVaw2U4FdwTyNlapH-x0yG5GeG&ust=1645382846530000&source=images&cd=vfe&ved=0CAwQjhxqFwoTCOjx0fm2jPYCFQAAAAAdAAAAABAD">
            <img src="~/Content/t1.JPG" alt="" width="800" height="500">
        </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>POKEMON CARDS</h2>
            <p>
               Go check out the list of our Pokemon Cards
            </p>
            <p><a class="btn btn-default" href="@Url.Action("CardIndex","PCard")"> GO &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>POKEMON GAMES</h2>
            <p>Go check out the list of our Pokemon Games.</p>
            <p><a class="btn btn-default" href="@Url.Action("GameIndex","PGame")">GO &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>The Card Games</h2>
            <p>Check out how to play Pokemon the Game</p>
            <p><a class="btn btn-default" href="https://tcg.pokemon.com/en-us/how-to-play/">GO &raquo;</a></p>
        </div>
    </div>
